<div class="notification-wrapper">
    <ul class="notification-list">
        <% notifications.forEach((notification) => { %>
            <% if (notification.type === 'alarm') { %>
                <li class="notification-item">
                    Fire alarm triggered on <%= notification.createdAt %>
                </li>
            <% } else if (notification.type === 'dailyVehicle') { %>
                <li class="notification-item">
                    Daily car count on <%= notification.createdAt %>: <%= notification.value %> car(s)
                </li>
            <% } else if (notification.type === 'monthlyVehicle') { %> 
                <li class="notification-item">
                    Monthly car count on <%= notification.createdAt %>: <%= notification.value %> car(s)
                </li>
            <% } %>
        <% }); %>
    </ul>
</div>